@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    overflow: hidden;
    background-color: #000;
}

button {
    padding: 1px 16px;
    font-size: 25px;
    background: #00e63d;
    border: none;
    outline: none;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 4px;
    cursor: pointer;
}

.alert {
    color: #ffdb9b;
    font-size: 22px;
    line-height: 40px;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 0px;
    top: 15px;
    overflow: hidden;
    border-radius: 5px;
    border-left: 10px solid #00e63d;
    opacity: 0;
    pointer-events: none;
    background-color: #00e63d11;
}

.alert.showAlert {
    opacity: 1;
    pointer-events: auto;
}

.alert.show {
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(-10%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-10px);
    }
}

.alert.hide {
    animation: hide_slide 0.5s ease forwards;
}

@keyframes hide_slide {
    0% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(0%);
    }

    80% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(100%);
    }
}

.alert .fa-exclamation-circle {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #00e63d;
    font-size: 20px;
}

.alert .msg {
    padding: 0 20px;
    font-size: 18px;
    color: #03b934;
}

.alert .close-btn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #00e63d;
    padding: 20px 18px;
    cursor: pointer;
}

.close-btn:hover {
    background: #04c136;
}

.close-btn .fa-times {
    color: #0c9b32;
    font-size: 22px;
    line-height: 40px;
}